@keyframes loadingGlimmer {
    0% {
        background-position: -468px 0;
    }
    50% {
        background-position: 0px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.animated-background {
    margin: 10px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingGlimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 20%, #eeeeee 35%);
    background-size: 800px 104px;
    height: 100%;
    position: relative;
}

.search-box>.animated-background {
    width: 57%;
}

.interpretations-block>.animated-background {
    height: 320px;
    margin: 5px;
}