<div class="col-12 animate-component">
    <div class="card-columns">
        <div class="card interpretation-card" *ngFor="let interpretation of interpretations$ | async">
            <div style="height: 320px; background-color: #eee;">
                <app-visualization-card></app-visualization-card>
            </div>
            <div>
                <app-interpretation-list [interpretations]="[interpretation]" [currentUser]="currentUser$ | async" [rootUrl]="apiRootUrl$ | async">
                </app-interpretation-list>
            </div>
        </div>
    </div>
</div>