.btn {
    border: none;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.986);
    background-color: #276696;
    border: none;
}

.btn:active {
    color: rgba(255, 255, 255, 0.986);
    background-color: #276696;
    border: none;
}