<div *ngIf="(interpretationLoadedStatus$ | async) === false">
    <app-interpretation-loader></app-interpretation-loader>
</div>
<div class="container-fluid animate-component" *ngIf="(interpretationLoadedStatus$ | async) === true">
    <div class="row">
        <div class="col-7">
            <div class="interpretation-search">
                <input type="text" placeholder="Search interpretations" class="form-control" (keyup)="onInterpretationSearch($event)">
            </div>
        </div>
        <div class="col-mr col-5">
            <a class="btn btn-outline-secondary" routerLink="/"><i class="fa fa-home"></i></a>
            <a class="btn btn-outline-secondary" routerLink="/topInterpretations">Top 5 interpretations</a>
            <a class="btn btn-outline-secondary" routerLink="/topAuthors">Top 5 authors</a>
            <a class="btn btn-outline-secondary" routerLink="/topCommentators">Top 5 commentator</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top: 5px;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>